[Desktop Entry]
Name=Notion GNOME Desktop
Comment=Dynamic window manager
Exec=gnome-session --builtin --session=notion
TryExec=notion
Type=Application
DesktopNames=Unity:Unity:ubuntu
X-Ubuntu-Gettext-Domain=gnome-session-3.0