llvm_version: 18

rr_deb: https://github.com/rr-debugger/rr/releases/download/5.7.0/rr-5.7.0-Linux-x86_64.deb

dyalog_deb: https://www.dyalog.com/uploads/php/download.dyalog.com/download.php?file=19.0/linux_64_19.0.50027_unicode.x86_64.deb
ride_deb: https://github.com/Dyalog/ride/releases/download/v4.5.4100/ride-4.5.4100-1_amd64.deb

git_prefs:
  - { name: pull.ff, value: only }
  - { name: core.editor, value: 'code --wait' }
  # Desktop role overrides this with libsecret helper but using an Ansible
  # handler.  So if we turn this on, this version will overwrite that config.
  #- { name: credential.helper, value: 'cache --timeout=99999999'}

base_apt_packages:
- apt-file
- aria2
- asciinema
- bat
- build-essential
- bvi
- ca-certificates
- capstone-tool
- curl
#- emacs-nox
- entr
- g++-12
- gcc-12
- gh
- git
- git-flow
- git-lfs
- htop
- inotify-tools
- iotop
- jsonnet
- jupyter-core
- jupyter-nbconvert
- libcurl4-openssl-dev
- libfreetype6-dev
- libpng-dev
- libsqlite3-dev
- libtiff5-dev
- libjpeg-dev
- lftp
- nasm
- ncdu
- nethogs
- nmap
- nvidia-cuda-toolkit
- pbzip2
- plocate
- powertop
- pv
- python3-pip
- python3-venv
- swi-prolog
- tmux
- tree
- unattended-upgrades

latex_apt_packages:
- inkscape
- latexmk
- texlive
- texlive-binaries
- texlive-extra-utils
- texlive-font-utils
- texlive-fonts-extra
- texlive-fonts-extra-doc
- texlive-fonts-recommended
- texlive-fonts-recommended-doc
- texlive-latex-extra
- texlive-latex-extra-doc
- texlive-luatex
- texlive-metapost
- texlive-pictures
- texlive-pictures-doc
- texlive-plain-generic
- texlive-pstricks
- texlive-pstricks-doc
- texlive-publishers
- texlive-publishers-doc
- texlive-science
- texlive-science-doc

research_apt_packages:
- libsentencepiece-dev
- r-recommended
- r-cran-knitr

snap_packages:
- yq