- name: Docker
  import_role:
    name: geerlingguy.docker

- name: Add user to docker group
  user:
    name: "{{ user_name }}"
    groups: docker
    append: yes

#- name: Install docker-compose
#  ansible.builtin.apt:
#    name: docker-compose
